.popup__container{
    background-color: #fff;
    border-radius: 10px;
    width: 430px;
    min-height: 330px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .popup__container{
        width: 282px;
        min-height: 322px;
    }
}